
@{ ViewData["Title"] = "Norder";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">


                        <div class="card-body p-4">

                            <div class="text-center">
                                <img src="~/Content/design/coderthemes.com/hyper/saas/assets/images/file-searching.svg" height="90" alt="File not found Image">
                                <h1 class="text-error mt-4">Burada Hiç Sipariş Yok :(</h1>
                                <h4 class="text-uppercase text-danger mt-3">Mağazanızda sipariş olmadığından bu sayfayı yükleyemiyoruz.</h4>
                                <p class="text-muted mt-3">İsterseniz şimdilik sayfayı yenilemeyi deneyin <a href="https://www.setsis.com.tr/iletisim/" class="text-muted"><b>Destek</b></a></p>

                                <a class="btn btn-info mt-3" href="~/Views/Market/Index.cshtml"><i class="mdi mdi-reply">Geri Dön</i></a>
                            </div>

                        </div> <!-- end card-body-->
                    </div>
                    <!-- end card-->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
